.main-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-bg {
    background-image: url('../../images/backgrounds/about.jpg');
    background-size: cover;
    height: 300px;
    


    position: relative;
}
.video-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    transition: .5s;
}
.about-bg i {
    font-size: 50px;
    color: #fff;
    transition: .5s;
}
.about-bg:hover .video-bg {
    background-color: rgba(0, 0, 0, 0.5);
}
.about-bg i:hover {
    font-size: 64px;
}

.about-block {
    width: 45%;
    text-align: left;
    line-height: 1.5;
}

.about-block  .contact-btn {
    margin: 20px 0;
}

.about-block h3 {
    font-weight: 500;
    font-size: 30px;
}

.about-block  .contact-btn {
    margin: 20px 0;
}

.about-block h3 {
    font-weight: 500;
    font-size: 30px;
    color: #42464f;
    margin-bottom: 20px;
}

.about-block p {
    font-size: 14px;
    color: #658997;;
}