.main-advantages {
    position: relative;
}

.template-item.advantage-item {
    width: calc(100% / 2 - 3%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.advantage-circle {
    width: 150px;
    height: 150px;
    border: 2px solid rgba(101, 137, 151, 0.33);
    color: rgba(101, 137, 151, 0.33);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;

    transition: .5s;
}

.advantage-item:hover .advantage-circle{
    background-color: #a9dc56;
    color: #fff;
    border-color: #a9dc56;
}

.advantage-block{
    width: 70%;
    line-height: 1.5;
}

.advantage-block a {
    display: block;
    color: #42b773;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    transition: .5s;
}

.advantage-block a:hover {
    text-decoration: underline;
    color: #42464f;
}

.advantage-block p {
    color: #42464f;
    font-size: 14px;
}

.main-advantages::after  {
    content: ' ';
    width: 157px;
    height: 68px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-image: url('../../images/widgets/add-p.png');
}
.main-advantages .home-link i{
    color: #fff;
}


.main-offers {
    background: linear-gradient(to bottom, #42b773 0%, #a9dc56 100%);
}

.template-item.offer-item {
    width: calc(100% / 3 - 3%);
    line-height: 1.5;
    color: #fff;
}
.offer-item a{
    display: block;
    margin: 20px 0;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    transition: .5s;
}

.offer-item a:hover{
    color: #42464f;
    text-decoration: underline;
}
.offer-item img{
    border-radius: 50%;
    width: 100%;
}


@media (max-width: 768px) {
    .template-item.advantage-item, .template-item.offer-item {
        width: 100%;
    }
}